<h1>Profesores</h1>
<form action="/profesores/agregar" method="POST">
    <div>
      <label for="rfc">RFC:</label>
      <input type="text" name="rfc" placeholder="rfc" id="rfc"/>
    </div>
    <div>
      <label for="nombres">Nombres:</label>
      <input type="text" name="nombres" placeholder="Nombre" id="nombres"/>
    </div>
    <div>
      <label for="paterno">Paterno:</label>
      <input type="text" name="paterno" placeholder="paterno" id="paterno"/>
    </div>
    <div>
      <label for="materno">Materno:</label>
      <input type="text" name="materno" placeholder="materno" id="materno"/>
    </div>
    <div>
      <label for="fechaNacimiento">Fecha Nacimiento:</label>
      <input type="text" name="fechaNacimiento" placeholder="fechaNacimiento" id="fechaNacimiento"/>
    </div>
    <div>
      <label for="direccion">Direccion:</label>
      <input type="text" name="direccion" placeholder="direccion" id="direccion"/>
    </div>
    <div>
      <label for="celular">Celular:</label>
      <input type="text" name="celular" placeholder="celular" id="celular"/>
    </div>
    <div>
      <label for="profesion">Profesion:</label>
      <input type="text" name="profesion" placeholder="profesion" id="profesion"/>
    </div>
    <div>
      <label for="numeroEmpleado">Numero Empleado:</label>
      <input type="text" name="numeroEmpleado" placeholder="numeroEmpleado" id="numeroEmpleado"/>
    </div>
    <button>Agregar</button> 
</form>
